# pdf
organic_chemistry.pdf
in_silico_medicinal_chemistry.pdf
quantum_computation_and_quantum_information.pdf

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*eps-converted-to.pdf
*synctex.gz
*.out

# editors
.vscode

# macos
.DS_Store
